.speech {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.direction{
    background-color: aquamarine;
}
.direction:hover{
    background-color: violet;
    color: blue;
}
.CHORUS{
    font-size: 14px;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.CONST{
    font-size: 14px;
    color:greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.NOTARY{
    font-size: 14px;
    color:goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.song{
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5px;
  }
  
  #customers tr:nth-child(even){background-color: #bf58c8;}
  
  #customers tr:hover {background-color: rgb(109, 208, 89);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0c064;
    color: white;
  }
 